<div class="fondo">
    <!--TODO Mostrar 4 componentes, una barra superior a modo de barra rápida, otra para la lista de tareas agrupadas, otra para el juego, y otra para la tarea detallada. -->
    <!--TODO Tengo dos opciones, hacer los detalles de la tarea como un popup o hacer el juego colapsable, que pueda reducirse el tamaño para que no estorbe si solo se quieren hacer tareas. -->

    <div class="search">
        <!-- <p>Search</p> -->
        <app-barra-superior/> 
    </div>

    <div class="listaTareas">
        <!-- <p>listaTareas</p> -->
        <app-lista-tareas/>
    </div>

    <!--TODO Probar a hacer un botón para mostrar uno u otro, la tarea individual o el juego. -->

    <div class="tareaIndividual">
        <!-- <p>Tarea Individual</p> -->
        <app-ficha-tarea-base/>
    </div>

    <div class="juego">
        <p>juego</p>
    </div>



    <!-- <p>Aquí se mostrará todo el tema de la to-do</p> -->

</div>
