.menu{
    height: 100vh;
}

.fondo{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.search, .listaTareas, .tareaIndividual{
    background-color: grey;
    border-radius: 20px;
    margin: 1em 1em 0em 1em;
    grid-area: 1 / 1 / 1 / -1; 
    padding: 1.5rem;
}

/* TODO: borrar Temporal */
.search p, .listaTareas p, .tareaIndividual p{
    position: absolute;
}


.listaTareas{
    background-color: grey;
    border-radius: 20px;
    margin: 0em 0em 1em 1em;
    grid-area: 2 / 1 / -1 / 1; 
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;    
    box-sizing: border-box;
}

.tareaIndividual{
    background-color: grey;
    border-radius: 20px;
    margin: 0em 1em 1em 0em;
    grid-area: 2 / 2 / -1 / -1; 
}

.juego{
    display: none;
    background-color: grey;
    border-radius: 20px;
    margin: 1em 1em 0em 1em;
    grid-area: 2 / 2 / -1 / -1; 
}