
<section>
    @if (isLoggedIn) {
        <p>Bienvenido, {{username}} {{ apellidos }}</p>
        <img
        (click)="greet()"
        alt="photo" src="https://github.com/Dorttein.png"/>
        <ul>
            <app-hijo-prueba (addFavoriteEvent)="getFavorito($event)"></app-hijo-prueba>
        </ul>
        @if(favGame!=''){
            <p>Este es mi juego favorito {{ favGame }}</p>
        }

    }@else {
        <p>Inicia sesión</p>
        <button (click)="isLoggedIn=true">Login</button>

    }
</section>