section{
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.menu{
    grid-area: 1 / 1 / 6 / 2;
    
}

.body{
    grid-area: 1 / 2 / 2 / -1;
}