<div class="contenedor">
    <div class="checkbox-wrapper">
        <input type="checkbox" id="'cbtest-' + uniqueId">
        <label class="check-box"></label>
    </div>
    
    <p class="title">{{title}}</p>
    <input type="text" class="inputTitle" value="{{title}}" [(ngModel)]="title">
    
    
    <p class="puntos">{{puntos}}</p>
    <input type="number" class="inputPuntos" value="{{puntos}}" [(ngModel)]="puntos">
    
    <p class="fecha">{{fecha}}</p>
    <input type="date" class="inputFecha" value="{{fecha}}" [(ngModel)]="fecha">

    

</div>